<!DOCTYPE html>
<html>
<head>
	<title>Add A Fruit</title>
</head>
<body>

	<h1>Add a fruit!</h1>

	<!-- action is where the form needs to post -->
	<!-- method is the HTTP method -->
	<!-- this info comes from restful routes -->
	<form action="/fruits" method="POST">
		Name: <input type="text" name="name"/> <br />
		Color: <input type="text" name="color"/><br />
		Ready to Eat: <input type="checkbox" name="readyToEat">
		<input type="submit" name="" value="Create Fruit!" />
	</form>

</body>
</html>